/* FONTS */
@font-face {
  font-family: 'Acorn';
  src: url('/portfolio/fonts/acorn-7.ttf') format('truetype');
}

html {
    position: relative;
}

.button-home {
    background-color: black;
    border: 1px solid white;
    border-radius: 2rem;
    color: white;
    
    font-size: 1rem;
    font-family: "Space Grotesk", serif;
    cursor: pointer;
    
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    width: 7.4rem;
    height: 2.5rem;
    z-index: 100;
  }
  
  .button-home:hover {
    color: black;
    font-weight: 700;;
    background-color: white;
    border: 1px solid rgb(132, 132, 132);
  }

#footer {
position: absolute;
bottom: 20px;
color: white;
}