/* FONTS */
@font-face {
    font-family: 'Figtree';
    src: url('/portfolio/media/css-challenge/day-one/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  }

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    padding: 0;
    padding-top: 5rem;
    margin: 0;
}

/* --------- CARD #1 --------- */

.card {
    position: relative;
    width: 100%;
}

.card-title {
    position: absolute;
    top: 0;
    left: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}


.card-one-container {
    font-family: 'Figtree', sans-serif;
    font-size: 13px;
    background-color: #F5D04E;
    padding-block: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


    .card-one {
        font-size: 1em;
        padding: 1.5em;
        background-color: white;
        border: 1px solid black;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        row-gap: 1.5em;
        box-shadow: .7rem .7rem 0 black;
    }

    .card-one-image {
        width: 100%;
        object-fit: cover;
        border-radius: .5em;
    }

    .card-one-tag span {
        font-weight: 700;
        padding: .3em 1em;
        border-radius: .3em;
        background-color: #F5D04E;
        display: inline;
    }

    .card-one-heading {
        font-weight: 700;
        font-size: 1.6em;
    }

    .card-one-description {
        color: darkgray;
        line-height: 150%;
    }

    .card-one-dp-container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        column-gap: 1em;
        align-items: center;
    }

    .card-one-dp {
        width: 2.5em;
        height: 2.5em;
    }

    .card-one-dp-name {
        font-weight: 700;
    }

/* --------- CARD #2 --------- */

.card-two-container {
        font-family: 'Figtree', sans-serif;
        font-size: 13px;
        background-color: #F9EEFF;
        padding-block: 5rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15rem;
    }
    
    .card-two-background {
        background-image: url("/portfolio/media/css-challenge/day-two/assets/images/background-pattern-desktop.svg");
        height: 40%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

input {
    display: none;
}

label {
    display: block;
    background-color: white;
    padding: 1rem 2rem;
    margin: 0 0 1px 0;
    cursor: pointer;
    border-radius: .2rem;
    color: black;
    transition: ease .5s;
    width: 20rem;
    max-width: 60rem;
}

label:hover {
    background-color: light-grey;
}

.content {
    background: white;
    padding: 1rem 2rem;
    border: 1px solid green;
    margin: 0 0 1px 0;
    border-radius: 3px;
    width: 20rem;
    max-width: 60rem;
}

input+label+.content {
    display: none;
}

input:checked+label+.content {
    display: block;
}

label::after {
    content: url("/portfolio/media/css-challenge/day-two/assets/images/icon-plus.svg");
}

input:checked+label::after {
    content: url("/portfolio/media/css-challenge/day-two/assets/images/icon-minus.svg");
}

.card-two-accordion {
    width: 22rem;
    padding: 1rem;
    text-wrap: wrap;
    background-color: white;
    border-radius: .2rem;
}

.card-two-accordion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* --------- RESPONSIVENESS STYLING --------- */

/* Styles for smaller screens (mobile) */
@media (max-width: 768px) {
    .card-one {
        width: 70vw;
    }

    .card-two-background {
        background-image: url("/portfolio/media/css-challenge/day-two/assets/images/background-pattern-mobile.svg");
    }

    .card-two-container{
        height: 40rem;
    }
}

/* Styles for larger screens (desktop) */
@media (min-width: 768px) {
    .card-one {
        width: 20vw;
    }
}



/* --------- COMMON STYLES --------- */

.inline {
    display: inline;
}