body {
    font-size: 14px;
    font-family: "Space Grotesk", serif;
    color: white;
    background-color: black;
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    width: min(40vw, 800px);
    height: 60px;
    padding: auto 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.card {
    text-decoration: none;
    font-weight: 700;
    background-color: #0c0c0c;
    border: 1px solid #ffffff16;
    border-radius: 10px;
    color: white;

    padding: 20px;
    margin: 20px;
    width: 200px;
    box-shadow: 0 14px 10px -10px rgb(32, 32, 32);

    cursor: pointer;
}

.card:hover {
    background-color: white;
    color: black;
}

.card-title {
    margin: 0;
}

.card-subtitle {
    margin-top: .2em;
    display: block;
    font-weight: 300;
    text-transform: none;
    font-size: .8em;
    color: grey;
}

.material-symbols-outlined {
    margin-bottom: 8px;
    color: grey;
}